.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.label {
  font-size: 0.875rem;
  color: var(--color-gray);
  font-weight: 500;
}

.input {
  padding: 0.875rem 1rem;
  border: 1px solid var(--color-light-gray);
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  transition: all 0.2s ease;
  width: 100%;
  background-color: var(--color-off-white);
  color: var(--color-black);
  border-radius: 4px;
}

.input:focus {
  border-color: var(--color-accent);
  background-color: var(--color-white);
  box-shadow: 0 0 0 3px rgba(0, 87, 255, 0.1);
}

.input::placeholder {
  color: #999;
}

.errorInput {
  border-color: #ef4444;
}

.errorMessage {
  font-size: 0.75rem;
  color: #ef4444;
}